body
{
    color: black;
    text-align: center;
    font-family: Courier;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: blue;
    color: white;
    box-shadow: -11px -29px 77px -8px rgba(27,182,209,1);
    border-radius: 96px 96px 96px 96px;
    border: 0px solid #000000;
    margin: 0;
    padding: 0.5em;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid red;
    margin: 0 auto;
}
#container h1
{
    color: blue;
    font-family: Arial;
}
